footer.footer 
  .container 
    .row 
      .col-3.col-md-6
        .footer__title про imperia
        .footer__item Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget pretium aenean dignissim sit cursus dictumst adipiscing nunc.
        a(href="index.html"): img(src="assets/img/logo1.png", alt="")
      .col-3.col-md-6
        .footer__title контакты
        a(href="tel:+998909587887").footer__item +998 90 958 78 87
        a(href="mailto:support@fonon.uz").footer__item.mb support@fonon.uz
        .footer__title рабочее время
        .footer__item По будням 9:00 to 18:00
        .footer__item В выходные 11:00 to 18:00
      .col-3.col-md-6
        .footer__title Меню
        a(href="index.html").footer__item Главная
        a(href="#").footer__item О нас
        a(href="category.html").footer__item Категории
        a(href="#").footer__item Сотрудничество
      .col-3.col-md-6
        .footer__title категории
        .footer__item Женская одежда
        .footer__item Мужская одежда
        .footer__item Детская одежда
        .footer__item Обувь
        .footer__item Сумки
        .footer__item Аксесуары