.cat
  .container
      .title Лучшие категории
      .row
        +category
        +category('cat2.jpg','Men’s wear')
        +category('cat3.jpg','Kid’s wear')
        +category('cat4.jpg','Shoes')