$i:1;
@while ($i<=12) {
    .col-#{$i}{
        flex-basis: percentage($i/12);
        max-width: percentage($i/12);
        width: percentage($i/12);
        padding: 0px 15px;
    }
    $i:$i+1;
}
$i:1;
@media(max-width:1024px){
    @while ($i<=12) {
        .col-lg-#{$i}{
            flex-basis: percentage($i/12);
            max-width: percentage($i/12);
            width: percentage($i/12);
            padding: 0px 10px;
        }
        $i:$i+1;
    }
}

$i:1;
@media(max-width:768px){
    @while ($i<=12) {
        .col-md-#{$i}{
            flex-basis: percentage($i/12);
            max-width: percentage($i/12);
            width: percentage($i/12);
            padding: 0px 10px;
        }
        $i:$i+1;
    }
}

$i:1;
@media(max-width:766px){
    @while ($i<=12) {
        .col-sm-#{$i}{
            flex-basis: percentage($i/12);
            max-width: percentage($i/12);
            width: percentage($i/12);
            padding: 0px 7px;
        }
        $i:$i+1;
    }
}