extends ../blocks/temp.pug 

block content 
  include ../blocks/index/_home.pug
  .bg 
    include ../blocks/index/_product.pug
    include ../blocks/index/_app.pug
    include ../blocks/index/_new.pug
    include ../blocks/index/_section.pug
    include ../blocks/index/_sale.pug