.app
  .container
    img(src="assets/img/iPhone.png", alt="")
    .row
      .col-4.col-sm-12
      .col-8.col-sm-12
        .app__title Скачай приложение и получай призы каждый день
        .app__text Скачав наш приложение вы получаете возможность играть в призовые игры каждый день и выигровать разного рода подарки для себя. <br> В нашем приложении призовые игры проходят аблолютно каждый день и всё это совершенно бесплатно.
        .app__links 
          a.link(href="#")
            img(src="assets/img/store.png", alt="")
          a.link(href="#")
            img(src="assets/img/google.png", alt="")
