.home(style='background-image:url(assets/img/home.png)')
  .home__main 
    .container
      .home__title 
        | Быстрый и удобный шоппинг, не выходя из дома.
      .home__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis lectus odio vitae, duis nec ut velit, fermentum. Diam sollicitudin arcu euismod morbi. Adipiscing bibendum elementum, fermentum amet quis erat.
      a(href="#").home__link Все товары
.home__main2 
    .container
      .home__title 
        | Быстрый и удобный шоппинг, не выходя из дома.
      .home__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis lectus odio vitae, duis nec ut velit, fermentum. Diam sollicitudin arcu euismod morbi. Adipiscing bibendum elementum, fermentum amet quis erat.
      a(href="#").home__link Все товары
      