.new.splide.slider 
  .container
    .splide__track 
      .title Новые товары
      .row.product__list.splide__list 
        +product
        +product('card2.jpg')
        +product('card3.jpg')
        +product('card4.jpg')
        +product('card3.jpg')
        +product('card4.jpg')