.section 
  .container 
    .row 
      .col-6.col-sm-12
      .col-6.col-sm-12.second
        .title Создай свой лук на все случаи жизни в “Imperia”
        .section__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam sollicitudin a cursus in. Vel sit donec semper magna dignissim. Amet, mi justo at metus vestibulum sollicitudin lacus. Nunc vel egestas fermentum pellentesque sed vitae vel.
        button.section__btn начать покупки