.categories
  .container 
    .title Категории
    .row 
      +category
      +category('cat2.jpg','Men’s wear')
      +category('cat3.jpg','Kid’s wear')
      +category('cat4.jpg','Shoes')
      +category('cat5.jpg','Сумки')
      +category('cat6.jpg','Accessories')
      +category('cat7.jpg','Underwear')
      +category('cat8.jpg','Decorations')
      +category('cat9.jpg','Home textiles')
      +category('cat10.jpg','Wholesale')